.nav-style {
  border-top: 4px solid #f8f9fa;
  transition: border-top 0.3s;
}

.nav-style:hover {
  border-top: 4px solid rgb(255, 30, 30);
}

.nav-style.active {
  border-top: 4px solid rgb(255, 30, 30);
}

.footer {
  background-color: rgba(238, 238, 238, 0.9);
  padding: 2rem 0;
  padding-bottom: 1rem;
}

.header {
  border-bottom: 2px solid rgb(255, 30, 30);
  line-height: 40px;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}

nav .navbar-nav li.nav-item a.nav-item.nav-link {
  color: black;
}

nav .navbar-nav li.nav-item a.nav-item.nav-link:hover {
  color: rgb(255, 30, 30);
}

nav .navbar-nav li.nav-item a.nav-item.nav-link.active {
  color: rgb(255, 30, 30);
}

nav a.logo-brand {
  color: black;
}

nav a.logo-brand:hover {
  color: rgb(255, 30, 30);
}

nav a.logo-brand.active {
  color: rgb(255, 30, 30);
}

body,
html {
  height: 100%;
}

.mb-6 {
  margin-bottom: 20em;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url("../images/slide1.jpg");
}

.img2 {
  background-image: url("../images/slide2.jpg");
}

.img3 {
  background-image: url("../images/slide3.jpg");
}

.jumbotron {
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
}

/* BUTTON
  -------------------------------------------------- */
.btn-custom {
  background: rgba(255, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1); 
  color: rgba(255, 255, 255, 1); 
  font-size: 18px; 
  border-radius: 4px; 
  border-width: 1px;
}
.btn-custom:hover {
  background: rgba(0, 0, 0, 1); 
  border-color: rgba(173, 173, 173, 1); 
  color: rgba(255, 255, 255, 1);
}
.btn-custom:active, .btn-custom:focus {
  background: rgba(255, 0, 0, 1); 
  border-color: rgba(173, 173, 173, 1); 
  color: rgba(255, 255, 255, 1);
}

/*footer red*/
footer a{
	color: Red;
}
footer a:hover {
    color: Red;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: red;
}

a.btn:hover {
  color: #fff;
  background-color: #ff5252 !important;
}