/* GLOBAL STYLES
-------------------------------------------------- */
.warning {
  color: red;
  font-size: 12px;
}
/* Padding below the footer and lighter body text */

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  color: #5a5a5a;
}

fieldset {
  display: inline;
  margin-left: 1px;
  margin-right: 1px;
  padding: 0.35em 0.75em 0.625em 0.75em;
  border: 2px groove;
  border-radius: 10px;
  background-color: white;
}

legend {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 21px;
  border: none;
  width: auto;
}

​table {
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid black;
}

#drug1logs tr{
  border-bottom: 1px solid #1f77b4;
}

#drug2logs tr{
  border-bottom: 1px solid #ff7f0e;
}

#drug3logs tr{
  border-bottom: 1px solid #2ca02c;
}

#drug4logs tr{
  border-bottom: 1px solid #d62728;
}

.noHover {
  pointer-events: none;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: white;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.numbox {
  width: 5.5rem;
}

/* BUTTON
  -------------------------------------------------- */
.btn-custom {
  background: rgba(255, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  border-radius: 4px;
  border-width: 1px;
}
.btn-custom:hover {
  background: rgba(0, 0, 0, 1);
  border-color: rgba(173, 173, 173, 1);
  color: rgba(255, 255, 255, 1);
}
.btn-custom:active,
.btn-custom:focus {
  background: rgba(255, 0, 0, 1);
  border-color: rgba(173, 173, 173, 1);
  color: rgba(255, 255, 255, 1);
}
/*RANGE
  -------------------------------------------------- */
input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  margin: 0px 0;
  float: right;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 200px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(211, 211, 211);
  border-radius: 18.1px;
  border: 0px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: rgb(255, 30, 30);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(211, 211, 211);
}
input[type="range"]::-moz-range-track {
  width: 200px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(211, 211, 211);
  border-radius: 18.1px;
  border: 0px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: rgb(255, 30, 30);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 200px;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ffb91e;
  border: 0px solid #010101;
  border-radius: 36.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #ffc137;
  border: 0px solid #010101;
  border-radius: 36.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: rgb(255, 30, 30);
  cursor: pointer;
  height: 8.4px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ffc137;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ffc951;
}

.nav-style {
  border-top: 4px solid #f8f9fa;
  transition: border-top 0.3s;
}

.nav-style:hover {
  border-top: 4px solid rgb(255, 30, 30);
}

.nav-style.active {
  border-top: 4px solid rgb(255, 30, 30);
}

.box {
  display: block;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 3px;
  margin: 10px 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.bg-box {
  margin-top: 4em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 4.5em;
}

.footer {
  background-color: rgba(238, 238, 238, 0.9);
  padding: 2rem 0;
  padding-bottom: 1rem;
}

.header {
  border-bottom: 2px solid rgb(255, 30, 30);
  line-height: 40px;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}

nav .navbar-nav li.nav-item a.nav-item.nav-link {
  color: black;
}

nav .navbar-nav li.nav-item a.nav-item.nav-link:hover {
  color: rgb(255, 30, 30);
}

nav .navbar-nav li.nav-item a.nav-item.nav-link.active {
  color: rgb(255, 30, 30);
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: rgb(255, 30, 30) !important;
}

.navbar-brand.active {
  color: rgb(255, 30, 30) !important;
}

.box-size {
  max-width: 90em;
}

/*LOADING
  -------------------------------------------------- */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.nav-link {
  color: rgb(255, 30, 30);
}

.nav-link:hover {
  color: rgb(255, 30, 30);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgb(255, 30, 30);
  height: 100%;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: rgb(255, 30, 30);
}

.red1 {
  color: rgb(255, 30, 30);
}

.foot-titles {
  color: rgb(255, 30, 30);
}

.btn:hover {
  color: #fff;
  background-color: #ff5252 !important;
} 

.qbutton{
  padding: 0 2px;
}

/*footer red*/
footer a{
	color: Red;
}
footer a:hover {
    color: Red;
}